<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
    <script src=".\app.js"></script>

</head>
<body ng-app="schoolApp" ng-cloak>
    <div ng-controller="AppCtrl as ctrl">
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
            </div>
        </md-toolbar>

        <div ng-cloak>
            <md-card ng-hide="hideFrom">

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">New Student</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>First name</label>
                            <input ng-model="user.firstName">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Last Name</label>
                            <input ng-model="user.lastName">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Age</label>
                            <input ng-model="user.age">
                        </md-input-container>
                        <md-datepicker ng-model="user.dateofBirth" md-placeholder="Date Of Birth"></md-datepicker>
                    </div>

                    <div layout-gt-sm="row">



                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Class</label>
                            <md-select ng-model="user.class">
                                <md-option ng-repeat="state in ctrl.classList" value="{{state.abbrev}}">
                                    {{state.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>


                    </div>

                    <div layout-gt-sm="row">
                        <div>
                            <p>Section</p>
                            <md-radio-group ng-model="user.section" class="md-primary">
                                <md-radio-button ng-repeat="d in radioData"
                                                 ng-value="d.value"
                                                 ng-class="{'md-align-top-left': $index==1}">
                                    {{ d.label }}<br />
                                    
                                </md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="save()">Save</md-button>
                    <md-button>Cancel</md-button>
                </md-card-actions>
            </md-card>
            <div ng-show="hideFrom">
                <md-content flex layout-padding>
                    <h5>
                        First Name: {{user.firstName}}<br />
                        Last Name: {{user.lastName}}<br />
                        Age : {{user.age}}<br />
                        Date Of Birth: {{user.dateofBirth}}<br />
                        Class: {{user.class}}<br />
                        Section: {{user.section}}<br />
                    </h5>


                </md-content>
            </div>
        </div>
        <div>
</body>
</html>