<<!DOCTYPE html>
<html>
<head>
	<title>Simple Directive</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>

    <script>
      	var app = angular.module("test",['ngMaterial']);

		app.controller("Ctrl1",function($scope){
		    $scope.name = "Harry";
		    $scope.reverseName = function(){
		        $scope.name = $scope.name.split('').reverse().join('');
		    };
		});
		app.directive("myDirective", function(){
		    return {
		        restrict: "EA",
		        scope: false,
		        template: "<div>Your name is : {{name}}</div>"+
		        "Change your name : <input type='text' ng-model='name' />"
		    };
		});
    </script>
</head>

<body>
<div ng-app="test">
    
    <div ng-controller="Ctrl1">
        <h2 ng-click="reverseName()">Hey {{name}}, Click me to reverse your name</h2>
        <div my-directive class='directive'></div>
    </div>
</div>
</body>

</html>