<!DOCTYPE html>
<html ng-app="student" >
   <head>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.js"></script>
      <script type="text/javascript" src="student.config.js"></script>
      <script type="text/javascript" src="service/student.service.js"></script>
      <script type="text/javascript" src="controller/student.controller.js"></script>
      <script type="text/javascript" src="controller/student.viewStudent.controller.js"></script>

   </head>
   <body ng-controller="studentController as vm" ng-cloak>
      <div layout="row" layout-fill layout-align="center center" vertical-center-layout-fix class="flex">
        <div class="center-container" flex layout="row" layout-align="center center">
        <div flex="50" flex-md="50" flex-sm="70" flex-xs="100">

      <md-card>
        <md-card-title>
          <md-card-title-text>
            <md-toolbar>
               <div class="md-toolbar-tools">
                   <h2>Student Registration Form</h2>
                   <span flex></span>
               </div>
         </md-toolbar>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
         <form>

            <form method="post" autocomplete="off">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First name</label>
                        <input ng-model="vm.student.firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input ng-model="vm.student.lastName" required>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <input ng-model="vm.student.age" type="text" placeholder="Age">
                </md-input-container>
                                
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Gender</label>
                    <md-select ng-model="vm.student.gender">
                        <md-option ng-repeat="gender in ['Male','Female']">
                            {{gender}}
                        </md-option>
                    </md-select>
                </md-input-container> <br>

                <md-input-container class="md-block" flex-gt-sm>
                    <label>Class</label>
                    <md-select ng-model="vm.student.stClass">
                        <md-option ng-repeat="stClass in ['Class Six','Class Seven','Class Eight','Class Nine','Class Ten']">
                            {{stClass}}
                        </md-option>
                    </md-select>
                </md-input-container> <br>

               <md-radio-group class="md-block" flex-gt-sm ng-model="vm.student.section">
                  <label>Section</label>
                  <md-radio-button layout-gt-sm="col" ng-repeat="section in ['Section A','Section B','Section C']" value='{{section}}'>{{section}}</md-radio-button>
               </md-radio-group> <br>

                <md-input-container class="md-block">
                    <input ng-model="vm.student.roll" type="text" placeholder="Roll No.">
                </md-input-container>

                <md-datepicker ng-model="vm.student.birthDate" md-placeholder="Birth Date">
                </md-datepicker>

            </form>

        </md-card-content>
        <md-card-actions layout="column" layout-align="start">
                <section layout="row" layout-align="center" layout-wrap>
                  <md-button flex="40" class="md-raised md-primary" ng-click="vm.saveStudent()">Submit</md-button> 
                  <md-button flex="40" class="md-raised md-warn" ng-click="vm.reset()">Reset</md-button>
                </section>
        </md-card-actions>
      </md-card>
               </div>
            </div>
      </div>
        </div>
    </div>
    </form>
   </body>
</html>